{%load static%}
<!DOCTYPE html>
<html>
<head>
	<title>Applications of Spoken Tutorial</title>
    
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

   <link href="/static/spoken/css/index.css" rel="stylesheet">
</head>
<body>
 
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#about">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#products">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#workshops">Workshops</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#workshops">Contact</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<!-- /Navigation ------------------------------------->
<!-- Header -->
<div class="container" >
<!--Header-------------------->
<div class="container">
   <p class="lead mb-4 text-black mb-2">
            <img src="https://static.fossee.in/fossee/pictures/apj.png" style="display:box;padding-right:10px;margin:auto;float:left;">
            "The most unfortunate thing is that India still seems to believe in proprietary solutions. Further spread of IT which is influencing the daily life of individuals would have a devastating effect on the lives of society due to any small shift in the business practice involving these proprietory solutions. It is precisely for these reasons open source software need to be built which would be cost effective for the entire society.
          <br>In India, open source code software will have to come and stay in a big way for the benefit of our billion people."</p>
          <span style="float:right;">- Dr. A. P. J. Abdul Kalam</span>

</div>
<!--/Header------------------->
<br>
<br>
<br>
 
<div> <!--About Us-->
  <h1>About Us</h1>
  <hr>
  <p>
    Spoken Tutorial is a multi-award winning educational content portal.  Here one can learn various Free and Open Source Software all by oneself.  Our self-paced, multi-lingual courses ensure that anybody with a computer and a desire for learning, can learn from any place, at any time and in a language of their choice.  All the content published on this website are shared under the CC BY SA license.  
        Our courses are simple and easy to follow even for a beginner but they also meet the growing needs of the learner.
</p>
</div> <!--/About Us--->
<div><!--Our Products-->
  <h1>Products</h1>
  <hr>
  <div class="row justify-content-center"> <!--1st Product-->
    <div class="col-4"> <!--product logo, name, explore-->
     
  <img src="media/logos/Artboard_1.jpg" style="width: 18rem;" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Spoken Tutorial</h5>  
  </div>

    </div>
    <div class="col-6"><!--product description-->
      <p class="card-text">Spoken Tutorial is a multi-award winning educational content portal. Here one can learn various Free and Open Source Software all by oneself. Our self-paced, multi-lingual courses ensure that anybody with a computer and a desire for learning, can learn from any place, at any time and in a language of their choice. All the content published on this website are shared under the CC BY SA license.</p>
      <button type="button" class="btn btn-outline-info" style="float:right;">More Info....</button>
    </div>


  </div><!--1st Product-->

<div class="row justify-content-center"> <!--1st Product-->
    
    <div class="col-6 ml-auto"><!--product description-->
      <p class="card-text">1Spoken Tutorial is a multi-award winning educational content portal. Here one can learn various Free and Open Source Software all by oneself. Our self-paced, multi-lingual courses ensure that anybody with a computer and a desire for learning, can learn from any place, at any time and in a language of their choice. All the content published on this website are shared under the CC BY SA license.</p>
      <button type="button" class="btn btn-outline-info" style="float:right;">More Info....</button>
    </div>

<div class="col-4 "> <!--product logo, name, explore-->
     
  <img src="media/logos/Artboard_1.jpg" style="width: 18rem;" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Spoken Tutorial</h5>  
  </div>

    </div>

  </div><!--1st Product-->


</div><!--Our Products-->

<hr>
<hr>


</div>


<div class="container">
    <section id="products">
    <h2>Our Applications</h2>    
    <hr>
      {% if products %}
      {% for product in products %}
      {% ifequal forloop.counter|divisibleby:"2" True%}
      <div class="row justify-content-center">
        <div class="col-6"><!--product description-->
          <h5 class="card-title">{{product.product_name}}</h5> 
          <p class="card-text">{{product.product_description}}</p>
          
          <a href="{{product.product_url}}" class="btn btn-outline-info " style="float:right;" target="_blank">Find Out More!</a>
        </div>
      <div class="col-4 "> <!--product logo, name, explore-->
     
      <img src="{{ MEDIA_URL}}{{product.logo}}" style="width: 18rem;" class="card-img-top" alt="...">
      <div class="card-body">
         
      </div>
        </div>
      </div>
      <br>
      {%else%}
    <div class="row justify-content-center">    
        <div class="col-4"> <!--product logo, name, explore-->
      <img src="{{ MEDIA_URL}}{{product.logo}}" style="width: 18rem;" class="card-img-top" alt="...">
      <div class="card-body">
          
      </div>

        </div>
        <div class="col-6"><!--product description-->
          <h5 class="card-title">{{product.product_name}}</h5>
          <p class="card-text">{{product.product_description}}</p>
          
          <a href="{{product.product_url}}" class="btn btn-outline-info" style="float:right;" target="_blank">Find Out More!</a>
        </div>
        </div>
        <br>
      
     {%endifequal%}

     {%endfor%}
     {%endif%}
    <!-- /.row -->
    </section>



<div class="accordion" id="accordionExample">

    <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Blended Workshop
        </button>
      </h2>
    </div>

    {%if workshops%}
    {%for workshop in workshops%}
   <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
    <div class="row">
      <div class="col-4">
        <img src="{{MEDIA_URL}}{{workshop.workshop_logo}}">

      </div>

     <div class="col-8 card-body">
    <h5 class="card-title">{{workshop.workshop_title}}</h5>
    <p class="card-text">{{workshop.workshop_content}}</p>
    <button type="button" class="btn btn-link">Know more..</button>


    </div>

    {%endfor%}
    {%endif%}


  </div>
  </div>
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


</body>
</html>