{%load static%}
<!DOCTYPE html>
<html>
<head>
	<title>Applications of Spoken Tutorial</title>
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>
<body>
  <!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="#">Applications of Spoken Tutorials</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="application">Applications</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Activities</a>
      </li>
    </ul>
    
  </div>
</nav>
<!-- Navigation -->
 <!-- Header -->
 <header class="new-color py-5 mb-5">
    <div class="container ">
      <div class="row align-items-center">
        <div class="col-lg-12">
          <p class="lead mb-4 text-black mb-2">
            <img src="https://static.fossee.in/fossee/pictures/apj.png" style="display:box;padding-right:10px;margin:auto;float:left;">
            "The most unfortunate thing is that India still seems to believe in proprietary solutions. Further spread of IT which is influencing the daily life of individuals would have a devastating effect on the lives of society due to any small shift in the business practice involving these proprietory solutions. It is precisely for these reasons open source software need to be built which would be cost effective for the entire society.
          <br>In India, open source code software will have to come and stay in a big way for the benefit of our billion people."</p>
          <span style="float:right;">- Dr. A. P. J. Abdul Kalam</span>
        </div>
      </div>
    </div>
  </header>

  <!-- Header -->
   <!-- Page Content -->
    <section id="application">
    <h2>Our Applications</h2>    
    <hr>

    <div class="row">
      {% if products %}
      {% for product in products %}
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="{{ MEDIA_URL}}{{product.logo}}" alt="">
          <div class="card-body">
            <h4 class="card-title">{{product.product_name}}</h4>
            <p class="card-text">{{product.product_description}}</p>
          </div>
          <div class="card-footer">
            <a href="{{product.product_url}}" class="btn btn-primary new-color" target="_blank">Find Out More!</a>
          </div>
        </div>
      </div>
     {% endfor %}
    {% endif %}  
    </div>
    <!-- /.row -->
    </section>


    <!-- Page Content -->
	<script src="/static/spoken/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="{% static 'js/bootstrap.bundle.min.js' %}></script>


</body>
</html>